body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*{
  font-family: Arial, Helvetica, sans-serif;
}

/****************HELPERS************************/

.flex-box{
  display:flex;
}


/*****************EMAIL LIST*****************/

.email-list{
  display: block;
}

.email-list ul{
  display:block; 
  max-width:1260px;
  margin-left:auto;
  margin-right:auto;
  padding: 0;
  list-style: none;
  border-inline: 1px black solid;
  border-top:1px solid black ;
}

/*****************EMAIL PREVIEW*****************/

.actions{
  display: none;

}

.emailDiv:hover>.actions{
  display: block;
}

.email-preview{
  cursor: pointer;
  padding-top: 1rem;
  padding-inline: 10px;
  height: 50px;
  background-color: rgb(230, 230, 230);
  border-bottom: 1px black solid;
  align-items: center;
  gap: 0.8rem;
}

.emailBody,.emailSubject,.emailSender{
  white-space: nowrap;
  text-overflow: clip;
}

.emailBody{
  overflow: hidden;
  text-overflow: ellipsis;
}

/*****************EMAIL DETAILS*****************/

.email-container{
  width: 1060px;
  margin-top: 7rem;
  margin-left: auto;
  margin-right: auto;
  border-radius: 1rem;
}

.email-details{
  background-color: white;
  height: 40vh;
  border-top-left-radius: 1rem;
  border: 1px solid black;
}

.emailContent p{
  padding: 1rem;
  color: black;
}
.email-container h2{
  color: rgb(54, 54, 54);
  margin-inline-start:1.5rem;
}

.emailAdress{
  font-size: 0.8rem;
}

.email-header{
  justify-content: space-between;
  align-items: center;
  padding-inline: 2rem;
  padding-top: 1rem;
  height: 3rem;
  background-color: rgb(215, 215, 215);
  border-top-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  border-bottom: black solid 1px;
}