body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(255, 255, 255);
}

* {
  font-family: 'roboto-medium';
  letter-spacing: 0.3px;
}

*:focus {
  outline: none;
}

/****************HELPERS************************/

.flex-box {
  display: flex;
}

.loadingState {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  background-color: white;
  padding: 10px 20px;
  border: 1px black solid;
  border-radius: 1rem;
}

/*****************EMAIL LIST*****************/

.isReadStat{
  color: #3d75cf;
  text-decoration: underline;
  text-decoration-thickness: 2px;
  padding-inline: 0.2rem;
  cursor: pointer;
  opacity: 0.7;
  transition: all 0.2s;
}

.isReadStat:hover{
  color: #032761;
  opacity: 0.7;
}

.email-list {
  display: block;
}

.email-search {
  padding-inline-start: 1rem;
  position: absolute;
  top: 10rem;
  right: 17.3rem;
  height: 2.3rem;
  width: 450px;
  border: none;
  border-radius: 0.3rem;
  background-color: rgb(224, 247, 247);
  font-size: 18px;
  padding-top: 1.3rem;
  transition: all 0.2s;
}

.email-search:hover {
  color: black;
  background-color: rgb(230, 230, 230);
}

.email-list ul {
  display: block;
  width: 90vw;
  margin-top: 7.9rem;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  list-style: none;
}

/*****************EMAIL PREVIEW*****************/

.read-messages {
  padding-inline-start: 10rem;
  position: absolute;
  left: -4rem;
  top: 10rem;
  color: rgb(60, 60, 60);
  font-size: 13px;
}

.actions {
  display: inline-block;
  opacity: 0;
  position: relative;
  right: 6rem;
}

.actions button {
  background-color: transparent;
  border: none;
  color: black;
}

.actions button:hover {
  opacity: 1;
}

.emailDiv:hover>.actions {
  display: inline-block;
  opacity: 0.6;
}

.email-preview {
  display: flex;
  gap: 10px;
  align-items: center;
  width: 80vw;
  padding-block: 0;
  padding-inline-start: 1rem;
  padding-inline-end: 4rem;
  border-bottom: 1px solid rgb(210, 210, 210);
}

.emailBody,
.emailSubject,
.emailSender {
  white-space: nowrap;
  text-overflow: clip;
  margin: 0;
}

.emailSender {
  color: rgb(51, 51, 51);
  padding-top: 0.2rem;
  font-size: 15px;
  min-width: 160px;
  max-width: 160px;
  font-family: 'roboto-light';
  overflow: hidden;
  text-overflow: ellipsis;
}

.emailSubject {
  font-size: 13px;
}


.emailBody {
  font-size: 12px;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 100;
  font-family: 'roboto-light';
}

/*****************EMAIL DETAILS*****************/

.email-container {
  width: 1060px;
  margin-top: 7rem;
  margin-left: auto;
  margin-right: auto;
  border-radius: 1rem;
}

.email-details {
  background-color: rgb(230, 241, 241);
  height: 45vh;
  border-top-left-radius: 1rem;
  border: 1px solid rgb(174, 174, 174);
}

.emailContent p {
  padding: 1rem;
  color: black;
}

.email-container h2 {
  color: rgb(54, 54, 54);
  margin-inline-start: 1.5rem;
  text-decoration: underline;
  letter-spacing: 0.4px;
}

.emailAdress {
  font-size: 0.8rem;
}

.email-header {
  color: black;
  justify-content: space-between;
  align-items: center;
  padding-inline: 2rem;
  padding-top: 1rem;
  height: 3rem;
  border-top-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  border-bottom: rgb(174, 174, 174) solid 1px;
  background: rgb(205, 147, 147);
  background: linear-gradient(90deg, rgba(205, 147, 147, 1) 0%, rgba(235, 235, 235, 1) 0%, rgba(215, 215, 215, 1) 0%, rgba(163, 163, 163, 1) 100%, rgba(255, 255, 255, 1) 100%);
}

.email-details-backBtn {
  background-color: rgb(88, 175, 225);
  padding: 10px 20px;
  border: 1px solid rgb(134, 134, 134);
  border-bottom-left-radius: 0.5rem;
  color: rgb(0, 0, 0);
  transition: all 0.2s;
  font-weight: bold;
}

.email-details-backBtn:hover {
  background-color: rgb(140, 197, 231);

}

/*********************EMAIL ACTIONS***************************/

.email-all-filters {
  position: absolute;
  right: 0;
  flex-direction: column;
  top: 17.32rem;
}

.appPic{
  position: relative;
  top: 1rem;
  padding-inline: 0.4rem;
}

.hamburger{
  position: absolute;
  top: 8.7rem;
  right: 0.3rem;
  padding: 0px;
  margin: 0px;
  color: rgb(88, 88, 88);
}

.hamburger img{
  cursor: pointer;
}

.hamburger-btn {
  letter-spacing: 1px;
  background-color: transparent;
  border: 1px black solid;
  border-radius: 50%;
  font-size: 20px;
  opacity: 0.85;
  transition: all 0.15s;
  background-color: rgb(220, 220, 220);
}

.hamburger-btn:hover {
  opacity: 1;
  color:rgb(90, 90, 90) ;
  border: 1px transparent solid;
}

.emailFirstLetter{
  font-size: 25px;
}

.hamburger-btn:focus>section {
  display: none;
}

.email-all-filters button {
  border: none;
  border-bottom: 1px solid rgb(222, 222, 222);
  background-color: white;
  display: inline-block;
  width: 14.5vw;
  height: 20px;
  padding: 0;
  margin: 0;
  transition: all 0.2s;
}

.email-all-filters button:hover {
  box-shadow: -1px -19px 10px -22px rgba(0, 0, 0, 0.75) inset;
  -webkit-box-shadow: -1px -19px 10px -22px rgba(0, 0, 0, 0.75) inset;
  -moz-box-shadow: -1px -19px 10px -22px rgba(0, 0, 0, 0.75) inset;
}

.composeBtn {
  align-items: center;
  position: absolute;
  right: 0.5rem;
  top: 13.3rem;
  padding: 0.8rem 2rem;
  padding-inline-start: 2.4rem;
  font-size: 14px;
  border-radius: 0.4rem;
  border: none;
  background-color: rgb(180, 224, 242);
  transition: all 0.18s;
}

.composeBtn:hover {
  background-color: rgb(193, 228, 242);
  box-shadow: 0px 2px 5px -2px rgba(0,0,0,0.75);
  -webkit-box-shadow: 0px 2px 5px -2px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 2px 5px -2px rgba(0,0,0,0.75);
}

.composeBtn img {
  margin-bottom: 0.5rem;
  width: 1.2rem;
  margin-inline-start: 0.3rem;
}

.star {
  visibility: hidden;
  font-size: 30px;
  cursor: pointer;
}

.star:before {
  content: "\2605";
  position: absolute;
  visibility: visible;
}

.star:checked:before {
  content: "\2606";
  position: absolute;
  color: yellow;
}

.fa-star{
  cursor: pointer;
}

.fa-star:hover{
  color: rgb(157, 157, 157);;
}
/**********************EMAIL FORM********************/

.compose-form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  border: 1px solid rgb(217, 217, 217);
  position: fixed;
  bottom: 0rem;
  left: 10rem;
}

.compose-form input,.compose-form textarea{
  width: 500px;
}

.compose-form input{
  height: 2rem;
}

.sendFormBtn{
  margin-left: 75.5%;
  width: 120px;
  height: fit-content;
  border: 1px black solid;
  border-radius: 2rem;
  background-color: #0b57d0;
  color: white;
  font-size: 15px;
  letter-spacing: 1px;
  margin-bottom:3px ;
  transition: all 0.2s;
}

.sendFormBtn:hover{
  background-color: #0b57d0
}

.formCloseBtn{
  cursor: pointer;
  align-self: flex-start;
  height: 25px;
  color: black;
  background-color: rgb(184, 184, 184);
  width: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}